
    *{
        font-family: 'Poppins', sans-serif;
    }
    
    .landingContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100vh;
        background: url('https://images.unsplash.com/photo-1449965408869-eaa3f722e40d?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=6e234f70b9f742c37a8a21c8e91d28d5&auto=format&fit=crop&w=1950&q=80') center no-repeat;
        flex-direction: column;
    }
.authenticationContainer {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 25%;
    box-shadow: 0 0 0 10px rgba(0,0,0,0.1);
    text-align: center;

}

.authenticationContainer .link {
    color: #00171F;
    transition: 0.5s ease;
}

.authenticationContainer .link:hover{
    color: #005491;
    cursor: pointer;
}

.logo{
    width: 50%;
    height: 30%;
    margin-bottom: 3em;
    background-image: url('../../shared/img/podwiez2.png');
    background-repeat: no-repeat;
    background-position: center;
}

.version{
    color: white;
    font-size: 1em;
}

@media only screen and (max-width: 1100px) {
    .authenticationContainer{
        width: 40%;
    }

    .logo{
        width: 70%;
    }
}

@media only screen and (max-width: 770px) {
    .authenticationContainer{
        width: 60%;
    }
}

@media only screen and (max-width: 560px) {
    .authenticationContainer{
        width: 80%;
    }
    .logo{
        width: 90%;
        background-size: contain;
        margin-bottom: 0em;
    }
}