*{
    font-family: 'Poppins', sans-serif;
}

.loginContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: url('https://images.unsplash.com/photo-1449965408869-eaa3f722e40d?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=6e234f70b9f742c37a8a21c8e91d28d5&auto=format&fit=crop&w=1950&q=80') center no-repeat;
    flex-direction: column;
}

.loginComponent {
    background: rgba(255,255,255,0.95);
      box-shadow: 0 0 0 10px rgba(0,0,0,0.1);
    width: 40%;
    height: 30%;
    display: flex;
    min-height: 280px;
    max-width: 380px;
}

#signUp{
    
    height: 320px;
}

.loginComponent input {
    display: block;
    width: 90%;
    margin: 1em;
    height: 1.5em;
    padding: 0.2em;
    border: 1px solid #E5E5E5;
    
}


.loginComponent form {
    width: 90%;
    margin: auto auto;
}

.button {
    width: 92%;
    margin: 0 1em;
    height: 3em;
    border: none;
    text-transform: uppercase;
    margin-bottom: 0.5em;
    background-color: #003459;
    color: whitesmoke;
}

#normalButton {
    background-color: #007EA7;
}

.button:hover {
    background-color: #00A8E8;
}

#normalButton:hover{
    background-color: #00A8E8;
}

.registerPar{
    font-size: 0.8em;
    text-align: center;
}

.errorMessage {
    color: red;
    font-size: 0.8em;
    text-align: center;
}

.logo{
    font-family: 'Righteous', cursive;
    color: whitesmoke;
    font-size: 4em;
    margin: 0.5em;
    text-shadow: 6px 2px 8px rgba(0, 0, 0, 1);
}

.registerSpan {
    color: #007EA7;
}

.registerSpan:hover {
    text-decoration: underline;
    cursor: pointer;
}

.returnSpan{
    font-size: 0.8em;
    margin: 0;
}

.returnSpan:hover {
    color: #007EA7;
    text-decoration: underline;
    cursor: pointer;
}

.returnP{
    margin: 0;
    padding-left: 1em;
}

@media only screen and (max-width: 800px) {
  .loginComponent{
      width: 60%;
  }
}

@media only screen and (max-width: 576px) {
    .loginComponent{
        width: 80%;
    }

    .logo{
        font-size: 3em;
    }
  }