.header{
    width: 100%;
    height: 5em;
    background-color: #003459;
    text-align: center;
}

.header img {
    height: 5em;
    object-fit: contain;
}

@media only screen and (max-width: 500px){
    .header img {
        width: 60%;
    }
}