.dashboard{
    width: 100%;
    height: 100vh;
    
}

.welcome{
    position: fixed;
    left: 50%;
    animation-name: fade-out;
    animation-duration: 4s;
    margin-left: -180px;
    top: 50%;
    animation-name: fadeOut;
    animation-duration: 7s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
}

@keyframes fadeOut {
    0% {opacity: 1;}
    80% {opacity: 1;}
    100% {opacity: 0; display: none;}
 }

 @media only screen and (max-width: 400px){
    .welcome{
        font-size: 1em;
        margin-left: -90px;
    }
}