.dashboard{
    width: 100%;
    height: 100vh;
    
}

.icons{
    height: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}

.icons i {
    color: #003459;
    
    font-size: 5em;
    margin: 0.5em;
    text-shadow: 2px 0px 5px rgba(0, 0, 0, 0.3);
    transition: 0.5s ease;
    animation-name: fadeIn;
    animation-duration: 4s;
    animation-delay: 4s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
    transform: translateY(2em)
}

.icons i:hover{
    color: #007EA7;
}

.welcome{
    position: fixed;
    animation-name: fadeOut;
    animation-duration: 7s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
    transform: translateY(6em);
    text-shadow: 2px 0px 5px rgba(0, 0, 0, 0.3);
    color: #003459;
}




@keyframes fadeIn {
    0% {opacity: 0;}
    80% {opacity: 0;}
    100% {opacity: 1;}
 }

@keyframes fadeOut {
    0% {opacity: 1;}
    80% {opacity: 1;}
    100% {opacity: 0; display: none;}
 }

 @media only screen and (max-width: 500px){
    .welcome{
        font-size: 1em;
        margin-left: -90px;
    }

    .icons{
        height: 40%;
    }

    .icons i {
        font-size: 4em;
        margin: 0.7em;
    }
 }

 @media only screen and (max-width: 400px){

    .icons i {
        
        margin: 0.5em;
    }
}