.addRide{
    height: 100%;
 
}

.addRideContainer{
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 80%;
    margin: auto;
    margin-top: 1em;
    
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}


.addRideContainer p {
    margin-left: 2em;
    font-size: 1.2em;
    font-weight: bold;
}

.button{
    background-color: #003459;
}

@media only screen and (max-width: 1000px){
    .addRideContainer{
        width: 90%;
    }
}